@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #FFFFFF;
  --foreground: #001219;
  --offwhite: #F2F0EF;
  --accent: #A30000;
}

@theme inline {

  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 979px;
  --breakpoint-xl: 1200px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-offwhite: var(--offwhite);
  --color-accent: var(--accent);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #001219;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
